extends layout


block content
	h1.ti1 Login
	div
		href='particles.html'
	form(method='POST',action='/users/login')

		#form-group
			label Username:
			input.form-control(name='username', type='text')
		#form-group
			label Password:
			input.form-control(name='password', type='password')
		br
		input.btn.btn-primary(type='submit',value='Login')
		br
		br
		input.btn.btn-primary1(type='submit',value='Login by G+')
		input.btn.btn-primary2(type='submit',value='Facebook')
